html
    head
        script
            //- 这个相当于switch语句
            -var a = 4
            case a
                when 1
                    div aaa
                when 2
                    div aaa   
                when 3
                    div aaa
                default
                    div 不靠谱
    body
        